*.local.*
node_modules
public/*Browserified.js*
data/boothinfo/boothinfo.json
*~
*~*
data/info/*.json
data/images/*.png
data/images/*.jpg
portal.css
retail.css
tmp/*
files/*
*.Identifier*
cache/*/
Session.vim
*.d.ts
data/defaults-lut.json

public/dist/*
public/js/vendor/orbiteditor.js
/.vs/Orbit
